<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
		</sectionGroup>
    </configSections>
	<appSettings>	 
    <!-- them moi de send mail khi cap user moi-->
    <add key="Host" value="smtp.gmail.com"/>
    <add key="EnableSsl" value="true"/>
    <add key="UserName" value="EmailSend@gmail.com"/>
    <add key="Password" value="xxxx"/>
    <add key="Port" value="587"/>
    <add key="Subject" value="Kích hoạt tài khoản giao dịch chứng khoán Online tại TVSC "/>
    <!-- end them moi de send mail khi cap user moi-->
	</appSettings> 
  <eTradingManagement.Properties.Settings>
   <setting name="eTradingManagement_DBService_Service" serializeAs="String">
    <value>http://localhost:1806/eTradingService/Service.asmx</value>
   </setting>
   <setting name="eTradingManagement_OnlineTradingService_OnlineTradingService"
    serializeAs="String">
    <value>http://localhost:1810/OnlineTradingService/OnlineTradingService.asmx</value>
   </setting>
  </eTradingManagement.Properties.Settings>
 </applicationSettings>
</configuration>